*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* css reset */

.container {
    height: 100vh;
    width: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

div {
    border: solid 1px black;
}