:root {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15vh 85vh;
}

.search-icon,
.bell-icon,
.cool-emoticon {
    height: 32px;
    width: 32px;
}

.bell-icon,
.cool-emoticon {
    margin-left: 6px;
    margin-right: 6px;
}


.cool-emoticon-big {
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

.howdy {
    margin-left: 8px;
    font-weight: 400;
}
.name {
    margin-left: 8px;
    font-size: 24px;
    font-weight: 900;
}

.search-bar {
    width: 600px;
    margin-left: 15px;
    background-color: lightgrey;
}

button {
    width: 125px;
    height: 35px;
    border-radius: 25px;
    border-style: none;
    color: white;
    background-color: #1992d4;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr;
    background-color: #e2e8f0;
}

.main-content > * {
    padding-left: 25px;
}

.announcements-title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-top: 25px;
}
.project-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-top: 25px;
}

.project {
    display: grid;
    grid-template-rows: 50px 125px 50px;
}

.project-buttons {
    justify-self: end;
    margin-right: 15px;
}

.project-buttons > img{
    height: 35px;
    width: 35px;
}

.project-buttons > img:hover {
    background-color: #1992d4;
}

.project,
.announcement {
    background-color: white;
    border-radius: 12px;
    margin: 20px;
}

.project-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.project-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.project-5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.project-6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    padding: 25px;
    background-color: #1992d4;
}

.sidebar > div {
    padding: 5px;
    font-size: 20px;
}

.nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background: #ffffff;
}

.top-nav {
    padding: 15px 5px 5px 5px;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.right-nav, .greeting-container {
    display: flex;
    align-items: center;
}

.right-nav {
    justify-self: end;
    margin-right: 50px;
}

.greeting-container,
.search-container {
    margin-left: 35px;
}

.bot-nav {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.buttons {
    grid-column: 2 / 3;
    justify-self: end;
    margin-right: 50px;
}
